#JNTUA FDP-Day 05
## Date: 31 may 2019
#### Day Objectives
* tuples
* dictionaries
* regular expressions
* Linear and Binary search
* Date arithmetic
* Iterators and Generators
* Functional Programming

### Python Tuples

In [1]:
t1 = (1001, 'Sindhu', 92,72,)

In [2]:
t1

(1001, 'Sindhu', 92, 72)

In [3]:
t1.append(45)

AttributeError: 'tuple' object has no attribute 'append'

In [4]:
t1.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [5]:
t1(0)

TypeError: 'tuple' object is not callable

In [6]:
t1[0]

1001

In [7]:
t1[2:]

(92, 72)

In [9]:
# accessing 2nd digit of all elements in tuple

t2 = (321,654,789098)

print(str(t2[0])[1]  + str(t2[1])[1] + str(t2[2])[1])

258

In [10]:
# accessing 2nd digit of all elements in tuple with spaces
t2 = (321,654,789098)

print(str(t2[0])[1],   str(t2[1])[1],  str(t2[2])[1])

2 5 8

In [12]:
# average of all elements in a tuple

def averagetuple(t):
    sum=0
    for i in range(0,len(t)):
        sum += t[i]
    return sum/len(t)

averagetuple(t2)

263357.6666666667

In [16]:
# average of all elements in a linearDS except string

def averageLinearDS(t):
    sum=0
    for i in range(0,len(t)):
        sum += t[i]
    return sum/len(t)

li = [123,243,456,678,890]

averageLinearDS(li)

478.0

In [19]:
# Function to search in a Linear Data Structure

def searchLinearDS(ds,key):
    for i in range(0,len(ds)):
            if ds[i]==key:
                return i
    return -1
print(searchLinearDS(li,945))   # li already created. refer above.
print(searchLinearDS(li,456))

-1
2

#### Iterable objects

In [21]:
s="python"
for i in s:
    print(i)

p
y
t
h
o
n

In [22]:
# average of all elements in a linearDS except string  using iterable objects

def averageLinearDS(t):
    sum=0
    for i in t:                           # for i in range(0,len(t)):   
                                           # sum += t[i]
        sum += i
    return sum/len(t)

li = [123,243,456,678,890]

averageLinearDS(li)

478.0

In [ ]:
# Function to search in a Linear Data Structure  using iterable objects

def searchLinearDS(ds,key):
    for i in range(0,len(ds)):  # here iterable objects cannot be used because index should be return as output.so use range()
            if ds[i]==key:
                return i
    return -1
print(searchLinearDS(li,945))  # li already created. refer above.
print(searchLinearDS(li,456))

In [24]:
# function to identify the maximum element in a data structure

def maxelementDS(ds):
    m=ds[0]
    for item in ds:
        if item>m:
            m=item
    return m


maxelementDS(li)    # li already created. refer above.

890

### python Dictionaries

In [29]:
d1 = {'gayatri': 9248048027, 'phani kumar': 9247222111 }   # All keys in dictionary are unique
print(d1['phani kumar'])

9247222111

In [26]:
d1.keys()   # All keys in dictionary are unique

dict_keys(['gayatri', 'phani kumar'])

In [27]:
d1.values()

dict_values([9248048027, 9247222111])

In [30]:
d1['sailaja']=8885551098
d1

{'gayatri': 9248048027, 'phani kumar': 9247222111, 'sailaja': 8885551098}

In [31]:
d1.pop('sailaja')   # removes a key and value
d1

{'gayatri': 9248048027, 'phani kumar': 9247222111}

In [33]:
d2={ 'roll no': 501, 'name' : 'gayatri'}
d2

{'roll no': 501, 'name': 'gayatri'}

In [34]:
# contacts Application
# add, display contacts


contacts={}

def addcontact(d, name, phone):
    d[name]=phone
    return

def displaycontacts(d):
    for name, phone in d.items():
        print(name, ":" , phone)
    return



addcontact(contacts, 'gayatri',9248048027)
addcontact(contacts, 'phani kumar', 9247222111)

displaycontacts(contacts)

gayatri : 9248048027
phani kumar : 9247222111

In [36]:
# contacts Application
# add, display, modify contacts


contacts={}

def addcontact(d, name, phone):
    d[name]=phone
    return

def displaycontacts(d):
    for name, phone in d.items():
        print(name, ":" , phone)
    return

def modifycontacts(d, name, newphone):
    d[name]=newphone
    return

def deletecontact(d, name):
    d.pop(name)
    return

addcontact(contacts,'sailaja',8885551098)
displaycontacts(contacts)

modifycontacts(contacts, 'gayatri', 7680883575)
displaycontacts(contacts)
deletecontact(contacts,'gayatri')

sailaja : 8885551098
sailaja : 8885551098
gayatri : 7680883575

In [38]:
li4=[5,4,3,2,1]
li4=list(reversed(li4))
print(type(li4))
li4

<class 'list'>

[1, 2, 3, 4, 5]

In [39]:
#  enumerate is used to access elements in ds with  value along with index
enumerate(li4)
for i, value in enumerate(li4):
    print(i, ':', value)

0 : 1
1 : 2
2 : 3
3 : 4
4 : 5

In [40]:
li3=[1,2,3,4]

In [41]:
#zip is used to combine two different lists

li3
li4
for i, j in zip(li3,li4):
    print(i,j)
zip(li3,li4)

1 1
2 2
3 3
4 4

#### Python Regular Expressions

.[0-9].  RE for all single digits
.[0, 1,2,3,...9]

.[a-z]. RE for all lower case alphabet
.[A-Z]. RE for all uppercase alphabet

.[0-5]RE for all numbers between 0 and 5
.[10] RE matches any expression that has 0 and 1

In [ ]:
#Function to validate college student roll no

#Function to validate indian phone numbers starting 9,8,7,6 and have 10 digits

#Function to validate email address
        username@domain.extension
        username = {string of length9. can contain digits, -, alphabet}
        domain = (string of 9. can contain digits and alphabet)
        extension = {length of 3. only alphabet}

In [15]:
#Function to validate college student rollnumber
import re
def isValidRnumber(Rno):
    if re.match('[1][5][7][3][1][aA][0][5][0-9][0-9]',Rno) != None:
        return True
    return False
   

isValidRnumber("15731a0564")

True

In [17]:
import re
def isvalidEmail(email):
    email = str(email)
    pattern='^[a-z][a-z0-9_.]{5,14}[@][a-z0-9]{3,12}[.][a-z]{2,3}'
    if  re.match(pattern, email):
        return True
    return False

isvalidEmail("prasmitha.vits@gmail.com")

True

In [16]:
import re
def isvalidPhone(phone):
    if re.match('^[9876][0-9]{9}$',phone) != None:
        return True
    return False
isvalidPhone("9550172942")

True

In [18]:
s1='Introduction to programming concepts with scratch, Scratch environment, sprites looks and motion, Angles and directions, repetition and variation, changing costumes, adding background, Input/Output,  variables and operators. Working with sounds and sprite communication and creating stories, App Generation.'

In [19]:
syllabusList=re.split('[,][\ ]',s1)
syllabusList

['Introduction to programming concepts with scratch',
 'Scratch environment',
 'sprites looks and motion',
 'Angles and directions',
 'repetition and variation',
 'changing costumes',
 'adding background',
 'Input/Output',
 ' variables and operators. Working with sounds and sprite communication and creating stories',
 'App Generation.']

#### Python Date Time Arithmetic

In [28]:
import datetime
now=datetime.datetime.now()
print(now)

2019-05-31 17:10:27.811820

In [34]:
# function to find the difference between two given dates
#yyyy:MM:DD

def dateDifference(date1,date2):
    year1 = int(date1[:4])
    month1 =int(date1[5:7])
    day1=int(date1[8:])
    
    year2=int(date2[:4])
    month2 = int(date2[5:7])
    day2=int(date2[8:])
    d1=datetime.date(year1,month1,day1)
    d2=datetime.date(year2,month2,day2)
    return d2 - d1

print(dateDifference('2019-05-27','2019:06:01'))

5 days, 0:00:00

In [35]:
#2020 - true
#1900 - false
#1600 - true
#2008 - true
#400 - true
#600 - false
def isLeap(year):
    if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
        return True
    return False
isLeap(2020)

True

#### List Comprehensions

In [36]:


li=[1,2,3,4,5,6]
sum(li)

21

In [37]:
sum(range(123))

7503

In [38]:
sum(list(range(9+1)))

45

In [46]:
#calculate sum of squareroot of n natural numbers
from math import sqrt
def sqrtNNaturalNumbers(n):
    return sum([sqrt(i) for i in list(range(1,n+1))])
sqrtNNaturalNumbers(10)

22.4682781862041

In [47]:
def squareListElements(li):
    return [i ** 2 for i in li]
squareListElements(li)

[1, 4, 9, 16, 25, 36]

In [48]:
#Design a function using list comprehension to identify all numbers devisible by 9 in  a given list
li = list(range(1,50))
def devisibleBy9(li):
    return [i for i in li if i%9==0]
devisibleBy9(li)

[9, 18, 27, 36, 45]

In [50]:
li = list(range(1979, 2019))
def leapList(li):
    return[i for i in li if( i%4== 0 and i% 100 != 0)or i%400 == 0]
leapList(li)

[1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

### Maps

#####Functions and  Iterators are Passed as parameters to Maps

In [59]:
#Function to calculate cubes of all numbers in a 
li = [1,2,3,4,5,6]
def cube(n):
    return n**3

for i in li:
    cube(i)
    
sum([cube(i) for i in li])

sum(list(map(cube,li)))

441

In [64]:
#Function to convert number into words

def listOfDigits(n):
   # d1={1:'one', 2: 'two', 3: 'three', 4:'four'}
    
    digit = []
    i = 0
    while(n != 0) :
        digit.append(n % 10)
        
        n= n // 10 #integer division
        i += 1 
    return digit

def numberToWords(n):
    digits = listOfDigits(n)
    d1={0:'zero',1:'one', 2: 'two', 3: 'three', 4:'four'}
    dictPlaceHolder = { 0:'units', 1: 'tens', 2: 'hundred', 3:'thousand'}
    
    for i in range(0, len(digits)):
    return digits
numberToWords(123)

[3, 2, 1]

In [65]:
import re
def phoneNumberValidator(phone):
    phone=str(phone)
    pattern = '^[6-9][0-9]{9}$'
    if re.match(pattern,phone):
        return True
    return False
phoneNumberValidator(123456789)

False

In [20]:
from datetime import datetime

s1 = '10:33:26'
s2 = '11:15:49' # for example
FMT = '%H:%M:%S'
tdelta = datetime.strptime(s2, FMT) - datetime.strptime(s1, FMT) 
#the strptime function, which parses a string into a time object.


print(tdelta)

0:42:23

In [28]:
from datetime import datetime

def days_between(d1, d2):
    d1 = datetime.strptime(d1, "%Y-%m-%d")
    d2 = datetime.strptime(d2, "%Y-%m-%d")
    return abs((d2 - d1).days)
days_between('2019-05-27', '2019-06-01')

5

In [33]:
from datetime import datetime
def timeDifference(t1, t2):
    FMT= '%H:%M:%S'
    tdelta=datetime.strptime(t2,FMT) - datetime.strptime(s1,FMT)
    return (tdelta).seconds
timeDifference('10:33:26', '11:15:49')

2543

In [34]:
#function to calculate square root of a given number without library function
def sRoot(n):
    s=n/2
    temp=0
    while(temp!=s):
        temp=s
        s=(((n/temp)+temp)/2)
    return s
sRoot(25)

5.0

In [37]:
# Function to check the given string is apalindrome
def palindrome(s):
    s2 = s[len(s):: -1]
    if s == s2:
        return( print("given string "+ s +" palindrom"))
    else:
        return (print("given string "+ s+" not palindrome"))
palindrome("madam")
palindrome("gannu")

given string madam palindrom
given string gannu not palindrome