# Document Title

### Date : 30 May 2019

### Session Objectives
* To introduce **Jupyter _Notebooks_**
* To teach **markdown** syntax
* To introduce **Python** basics
    * Basic syntax(Variables,Assignment,dataTypes)
    * Control Structures
       1. Conditional
       2. Repetitive
       
<img src= 'python-logo.jpg' />

[Link to Main Wbsite] (https://sites.google.com/view/jntua-python-may-2019/worklog/day-03)

## Python Basics

In [10]:
print("Hello World !") # Single Parameter
print("hello" , "world ", end = " :") # multiple parameters
print("hello" + "world") #concatenation using +

Hello World !
hello world  :helloworld

In [14]:
#this is comment

n=input("Enter a Value") # capture the input and store it in  a variable
print('\n',"entered value is" ,n)

Enter a Value123

 entered value is 123

In [15]:
n=int(n) # Type conversion to integer and reassign
n*n / 1231 - 124323874 # Expression evaluation using standard operator receiving

15129

In [21]:
a = b = c = n # assigning a single value to multiple variable

print(a, b,'\n' ,c)
c
d,e,f = 123, 234, 345
print(d, type(d), e,f)

123 123
 123
123 <class 'int'> 234 345

In [23]:
# type conversion
print(type(c))
c= str(c)
print(type(c))
c= float(c)
print(type(c))

<class 'float'>
<class 'str'>
<class 'float'>

#### Higher Order Computation

In [100]:
num = 987 ** 987
print(type(num))
len(str(num))

<class 'int'>

2956

#### String slicing

In [36]:
s1 = 'Python Programming'

In [30]:
print (s1[-1]) # Accessing the last character

g

In [31]:
print(s1[0:6]) # Accessing the first six characters

Python

In [32]:
print(s1[7: ]) # accessing the 7th character till end of string

Programming

In [34]:
 print(s1[0]) # Accessing the first character

P

In [42]:
s1[::-1]# Reverse of a string

'gnimmargorP nohtyP'

In [40]:
s1[-1:6:-1] #Reverse substring

'gnimmargorP'

In [41]:
s1[5::-1] #reverse of first substring

'nohtyP'

In [46]:
s1[(len(s1)-1) : 6: -1]

'gnimmargorP'

In [48]:
s2 = '123456789'
s2[-1:2:-1] #Reverse of the lst len(s2)-3 characters

'987654'

In [49]:
s2[5:2:-1] # Reverse of characters from index 5 to index 3

'654'

In [50]:
s2[1 :: 2] # accessing alternate characters

'2468'

In [51]:
s2[-1::-2] # alternate characters in reverse order

'97531'

## Functions in python

In [55]:
# function to reverse a string 
def reverseString(s):
    return(s[-1:: -1])
reverseString(s2)

'987654321'

In [64]:
# Function to reverse a substring
def reverseSubstring(s, i, j):
    sub = s[i:j+1]
    return sub[::-1]
reverseSubstring('abcde', 1,3)

'dcb'

## Conditional Control Structures

In [71]:
#Function to test devisibility by 9 and 11 and not 10
def devisibilityTest(n) :
    if(n%9 == 0 and n % 11 == 0 and  n % 10 != 0) :
        return True
    else :
        return False
devisibilityTest(990)

False

In [72]:
#Recursive Function for a power n
def powerN(a, n):
    if n == 0:
        return 1
    return a * powerN(a, n-1)
powerN(2, 6)

64

In [76]:
# Function to check the given string is apalindrome
def palindrome(s):
    s2 = s[len(s):: -1]
    if s == s2:
        return( print("palindrom"))
    else:
        return (print("not palindrome"))
palindrome("madam")

palindrom

#### iteration in python

In [80]:
for i in range(123, 126):
    print(i)

123
124
125

In [82]:
#Function to determine all numbers divisible by 
# 7 in a given range [lb, ub]

def divisible7(lb, ub):
    for i in range(lb, ub+1):
        if i%7 == 0 :
            print(i)
    return
divisible7(1, 70)

7
14
21
28
35
42
49
56
63
70

In [98]:
#Function to generate prime numbers in the range
def PrimeGen(lb, ub):
    for i in range(lb, ub+1):
        count = 0
        for j in range(1, i+1):
            if (i%j == 0):
                count = count + 1
        if count == 2 :
            print(i)
                 
    return
PrimeGen(10, 20)

11
13
17
19

#### Python Lists

In [118]:
li = [1,2,3,4,5,6, 'python', 5.6]# Initializing 
li.append([321,543,765]) #adding an element to the
li.remove(5.6)
li[7].remove(543)
li[7].insert(1,543)
li.pop(-1)
li.pop(-1)
li.sort()
li2 = [7,8,9]
li.extend(li2) #merges all elements
li.sort()
li.sort(reverse=True)
li

[9, 8, 7, 6, 5, 4, 3, 2, 1]